<div class="w-screen h-screen flex">
    <div class="h-[100%] w-[20p%] flex justify-center items-center border-r-2 border-[#D0D5DD]">
        <div class="h-[565px] w-[220px] flex flex-col justify-between">
            <div class="h-[70%] w-[100%]">


       
        
                <a routerLink="/dashboard" 
                routerLinkActive="active-link" 
                
                class="h-10 w-[200px] pl-3 pr-4 rounded-lg justify-start items-center gap-2 inline-flex cursor-pointer bg-transparent hover:bg-[#f2f3f6] active:bg-[#f2f3f6]">
                 <div class="w-6 h-6 justify-center items-center flex">
                     <div class="w-6 h-6 relative">
                         <img src="../../../../assets/category.svg" alt="">
                     </div>
                 </div>
                 <div class="text-[#1a1a2a] text-base font-normal font-['Archivo'] leading-normal tracking-tight">
                     Dashboard
                 </div>
             </a>
             <a routerLink="/faq" 
                routerLinkActive="active-link" 
                class="h-10 w-[200px] pl-3 pr-4 rounded-lg justify-start items-center gap-2 inline-flex cursor-pointer bg-transparent hover:bg-[#f2f3f6] active:bg-[#f2f3f6]">
                 <div class="w-6 h-6 justify-center items-center flex">
                     <div class="w-6 h-6 relative">
                         <img src="../../../../assets/setting.svg" alt="">
                     </div>
                 </div>
                 <div class="text-[#1a1a2a] text-base font-normal font-['Archivo'] leading-normal tracking-tight">
                     FAQ
                 </div>
             </a>
             
             <a (click)="toggleExpand()" 
                class="h-10 w-[200px] pl-3 pr-4 rounded-lg justify-start items-center gap-2 inline-flex cursor-pointer bg-transparent hover:bg-[#f2f3f6] active:bg-[#f2f3f6]">
                 <div class="w-6 h-6 justify-center items-center flex">
                     <div class="w-6 h-6 relative">
                         <img src="../../../../assets/people.svg" alt="">
                     </div>
                 </div>
                 <div class="text-[#1a1a2a] text-base font-normal font-['Archivo'] leading-normal tracking-tight">
                     Manage Users
                 </div>
             </a>
             
             <!-- Expandable Links -->
             <div *ngIf="isExpanded" class="flex flex-col ml-8">
                 <a routerLink="/Student" 
                    routerLinkActive="active-link" 
                    class="h-10 w-[170px] pl-3 pr-4 rounded-lg justify-start items-center gap-2 inline-flex cursor-pointer bg-transparent hover:bg-[#f2f3f6] active:bg-[#f2f3f6]">
                     <div class="text-[#1a1a2a] text-base font-normal font-['Archivo'] leading-normal tracking-tight">
                         Student
                     </div>
                 </a>
                 <a routerLink="/admins" 
                    routerLinkActive="active-link" 
                    class="h-10 w-[170px] pl-3 pr-4 rounded-lg justify-start items-center gap-2 inline-flex cursor-pointer bg-transparent hover:bg-[#f2f3f6] active:bg-[#f2f3f6]">
                     <div class="text-[#1a1a2a] text-base font-normal font-['Archivo'] leading-normal tracking-tight">
                         Admin
                     </div>
                 </a>
             </div>
             
             <a routerLink="/settings" 
                routerLinkActive="active-link" 
                class="h-10 w-[200px] pl-3 pr-4 rounded-lg justify-start items-center gap-2 inline-flex cursor-pointer bg-transparent hover:bg-[#f2f3f6] active:bg-[#f2f3f6]">
                 <div class="w-6 h-6 justify-center items-center flex">
                     <div class="w-6 h-6 relative">
                         <img src="../../../../assets/setting.svg" alt="">
                     </div>
                 </div>
                 <div class="text-[#1a1a2a] text-base font-normal font-['Archivo'] leading-normal tracking-tight">
                     Settings
                 </div>
             </a>
             
            </div>

            <div class="h-[10%] w-[100%]">
                <a href="/logout" 
                   class="w-[200px] h-10 pl-3 pr-4 rounded-lg justify-start items-center gap-2 inline-flex hover:bg-[#f2f3f6] active:bg-[#f2f3f6]">
                    <div class="w-6 h-6 justify-center items-center flex">
                        <div class="w-6 h-6 relative">
                            <img src="../../../../assets/logout.svg" alt="Logout">
                        </div>
                    </div>
                    <div class="text-[#1a1a2a] text-base font-normal font-['Archivo'] leading-normal tracking-tight">
                        Logout
                    </div>
                </a>
            </div>
        </div>
    </div>
   

    <div class="h-[100%] w-screen ">
        <div class="h-[10%] w-[100%] mb-5"><app-top-panel></app-top-panel></div>
        <div class="h-[87%] w-[100%] "><app-dashboard-main></app-dashboard-main></div>


    </div>
</div>
