

<div class="w-screen h-screen flex">
    <div class="h-[100%] w-[20p%] ">
        <app-sidebar></app-sidebar>
        
    </div>
   

    <div class="h-[100%] w-screen ">
        <div class="h-[10%] w-[100%] mb-5"><app-top-panel></app-top-panel></div>
        <div class="h-[87%] w-[100%] "><div class="h-[100%] w-[100%] flex flex-col items-center ">
            <div class="h-[120px] w-[95%] flex justify-between ">
                <div class="h-[120px] w-[264px] flex flex-col justify-between items-center border border-[#cfd4dc] rounded">
                    <div class="w-[232px] h-[43px]  mt-3 ">
                        <div class="h-10 justify-start items-center gap-4 inline-flex">
                            <div class="p-2 bg-white rounded-lg border border-[#cfd4dc] justify-start items-start gap-2 flex">
                                <div class="w-6 h-6 justify-center items-center flex">
                                    <div class="w-6 h-6 relative">
                                        <img src="../../../assets/profile-2user.svg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="text-[#667084] text-base font-semibold font-['Archivo'] leading-normal tracking-tight">Student</div>
                        </div>
                    </div>
                    <div class="w-[232px] h-[35px]  mb-3">
                        <div class="text-[#0f1728] text-[27.65px] font-semibold font-['Archivo'] leading-[34.56px]">1234</div>
                    </div>
        
                </div>
                <div class="h-[120px] w-[264px] flex flex-col justify-between items-center border border-[#cfd4dc] rounded">
                    <div class="w-[232px] h-[43px]  mt-3 ">
                        <div class="h-10 justify-start items-center gap-4 inline-flex">
                            <div class="p-2 bg-white rounded-lg border border-[#cfd4dc] justify-start items-start gap-2 flex">
                                <div class="w-6 h-6 justify-center items-center flex">
                                    <div class="w-6 h-6 relative">
                                        <img src="../../../assets/profile-2user.svg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="text-[#667084] text-base font-semibold font-['Archivo'] leading-normal tracking-tight">Admin</div>
                        </div>
                    </div>
                    <div class="w-[232px] h-[35px]  mb-3">
                        <div class="text-[#0f1728] text-[27.65px] font-semibold font-['Archivo'] leading-[34.56px]">1234</div>
                    </div>
        
                </div>    
                <div class="h-[120px] w-[264px] flex flex-col justify-between items-center border border-[#cfd4dc] rounded">
                    <div class="w-[232px] h-[43px]  mt-3 ">
                        <div class="h-10 justify-start items-center gap-4 inline-flex">
                            <div class="p-2 bg-white rounded-lg border border-[#cfd4dc] justify-start items-start gap-2 flex">
                                <div class="w-6 h-6 justify-center items-center flex">
                                    <div class="w-6 h-6 relative">
                                        <img src="../../../assets/profile-2user.svg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="text-[#667084] text-base font-semibold font-['Archivo'] leading-normal tracking-tight">Active Student</div>
                        </div>
                    </div>
                    <div class="w-[232px] h-[35px]  mb-3">
                        <div class="text-[#0f1728] text-[27.65px] font-semibold font-['Archivo'] leading-[34.56px]">1234</div>
                    </div>
        
                </div>
                <div class="h-[120px] w-[264px] flex flex-col justify-between items-center border border-[#cfd4dc] rounded">
                    <div class="w-[232px] h-[43px]  mt-3 ">
                        <div class="h-10 justify-start items-center gap-4 inline-flex">
                            <div class="p-2 bg-white rounded-lg border border-[#cfd4dc] justify-start items-start gap-2 flex">
                                <div class="w-6 h-6 justify-center items-center flex">
                                    <div class="w-6 h-6 relative">
                                        <img src="../../../assets/profile-2user.svg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="text-[#667084] text-base font-semibold font-['Archivo'] leading-normal tracking-tight">Department</div>
                        </div>
                    </div>
                    <div class="w-[232px] h-[35px]  mb-3">
                        <div class="text-[#0f1728] text-[27.65px] font-semibold font-['Archivo'] leading-[34.56px]">1234</div>
                    </div>
        
                </div>
        
        
        
            </div>
        
        </div>
        </div>


    </div>
</div>
