<div class="h-[100%] w-[100%] flex flex-col items-center ">
    <div class="h-[48px] w-[95%] flex items-center justify-end ">
      <button 
        class="h-10 px-5 bg-[#ec4909] rounded-lg flex justify-center items-center gap-2"
        (click)="showModal = true"
      >
        <span class="text-white text-base font-normal font-['Archivo'] leading-normal tracking-tight">
          Add FAQ
        </span>
      </button>
    </div>
  
    <div 
      *ngIf="showModal" 
      class="fixed inset-0 flex justify-center items-center bg-black bg-opacity-50"
    >
      <div class="w-[400px] h-auto p-6 bg-white rounded-xl shadow flex-col justify-start items-center gap-8 inline-flex">
        <div class="self-stretch h-[76px] flex-col justify-start items-start gap-5 flex ">
          <div class="h-[76px] flex-col justify-start items-start gap-2 inline-flex">
            <div class="self-stretch text-[#0f1728] text-lg font-semibold font-['Inter'] leading-7">Add FAQ</div>
            <div class="self-stretch text-[#667084] text-sm font-normal font-['Inter'] leading-tight">Please fill the forms below to add an FAQ</div>
          </div>
        </div>
        <div class="self-stretch h-auto flex-col justify-start items-start gap-5 flex ">
            <div class="self-stretch h-[100px] flex-col justify-start items-start gap-3 flex ">
                <div class="h-5 flex-col justify-start items-start gap-1.5 inline-flex">
                    <div class="text-[#344053] text-sm font-medium font-['Inter'] leading-tight">Questions*</div>
                </div>
                <input 
                type="text" 
                class="self-stretch h-[70px] px-4 py-2.5 bg-white rounded-lg shadow border border-[#cfd4dc]"
                [(ngModel)]="faqQuestion"
                placeholder="Enter the question"
              />
            </div>
            <div class="self-stretch h-[100px] flex-col justify-start items-start gap-5 flex ">
                <div class="self-stretch h-[100px] flex-col justify-start items-start gap-3 flex">
                    <div class="h-5 flex-col justify-start items-start gap-1.5 inline-flex">
                        <div class="text-[#344053] text-sm font-medium font-['Inter'] leading-tight">Answers*</div>
                    </div>
                    <input 
                    type="text" 
                    class="self-stretch h-[70px] px-4 py-2.5 bg-white rounded-lg shadow border border-[#cfd4dc]"
                    [(ngModel)]="faqAnswer"
                    placeholder="Enter the Answer"
                  />
                </div>
            </div>
            <div class="self-stretch h-[100px] flex-col justify-start items-start gap-5 flex ">
                <div class="self-stretch h-[60px] flex-col justify-start items-start gap-3 flex ">
                    <div class="h-5 flex-col justify-start items-start gap-1.5 inline-flex">
                        <div class="text-[#344053] text-sm font-medium font-['Inter'] leading-tight">Topic*</div>
                    </div>
                    <select 
                        class="self-stretch h-11 px-4 py-2.5 bg-white rounded-lg shadow border border-[#cfd4dc]"
                         [(ngModel)]="faqTopic"
                     >
                        <option value="" disabled selected>Admission</option>
                        <option value="" disabled selected>Portal</option>
                        <option value="" disabled selected>Department</option>


                        <option *ngFor="let topic of topics" [value]="topic">{{ topic }}</option>
                    </select>
                </div>
            </div>






        </div>

        <!-- Buttons -->
        <div class="self-stretch justify-start items-start gap-3 inline-flex ">
          <div 
            class="grow shrink basis-0 h-11 px-[18px] py-2.5 bg-white rounded-lg shadow border border-[#cfd4dc] flex justify-center items-center gap-2 cursor-pointer" 
            (click)="showModal = false"
          >
            <span class="text-[#344053] text-base font-semibold font-['Inter'] leading-normal">Cancel</span>
          </div>
          <div 
            class="grow shrink basis-0 h-11 px-[18px] py-2.5 bg-[#ec4909] rounded-lg shadow border border-[#ec4909] flex justify-center items-center gap-2 cursor-pointer"
            (click)="addFAQ()"
          >
            <span class="text-white text-base font-semibold font-['Inter'] leading-normal">Add FAQ</span>
          </div>
        </div>
  
      </div>
    </div>
</div>
  