<div class="h-[100%] w-[100%] flex justify-center items-center border-b-2 border-[#D0D5DD] ">
  <div class="h-[48px] w-[95%] flex justify-between mr-4 ">
    <div class="h-[48px] w-[200px] flex justify-start items-center ">
      <div class="text-black text-[23.04px] font-semibold font-['Archivo'] leading-[28.80px]">
        {{ activeRouteName }}
      </div>
    </div>
          
    <div class="h-[48px] w-[471px] flex justify-end items-center ">
    
      <div class="h-12 justify-start items-center gap-4 inline-flex ">
        <div class="w-12 h-12 p-2 bg-[#f2f3f6] rounded-[50px] justify-center items-center gap-2 flex">
          <div class="text-[#667084] text-base font-semibold font-['Archivo'] leading-normal tracking-tight">
            {{firstLetter}}{{lastLetter}}
          </div>
        </div>
        <div class="text-[#0f1728] text-base font-semibold font-['Archivo'] leading-normal tracking-tight">
          {{fullName}}
        </div>
      </div>
    </div>
  </div>
</div>
