<div class="h-[100%] w-[100%] flex justify-center items-center border-b-2 border-[#D0D5DD] ">
    <div class="h-[48px] w-[95%] flex justify-between mr-4 ">
        <div class="h-[48px] w-[200px] flex justify-start items-center ">
            <div class="text-black text-[23.04px] font-semibold font-['Archivo'] leading-[28.80px]">{{ activeRouteName }}</div>
          </div>
          
        <div class="h-[48px] w-[471px] flex justify-between items-center ">
            <div class="w-[300px] h-10 px-4 py-2 rounded-lg border border-[#a6a6ab] justify-start items-center gap-2 inline-flex">
                <div class="w-5 h-5 justify-center items-center flex">
                    <div class="w-5 h-5 relative">
                        <!-- Optional: Add an icon or placeholder image here -->
                         <img src="../../../../assets/search-normal.svg" alt="">
                    </div>
                </div>
                <input 
                    type="text" 
                    placeholder="Search"
                    class="grow shrink basis-0 h-6 text-[#a6a6ab] text-base font-normal font-['Archivo'] leading-normal tracking-tight border-none focus:outline-none"
                />
                
            </div>
            <div class="h-12 justify-start items-center gap-4 inline-flex">
                <div class="w-12 h-12 p-2 bg-[#f2f3f6] rounded-[50px] justify-center items-center gap-2 flex">
                  <div class="text-[#667084] text-base font-semibold font-['Archivo'] leading-normal tracking-tight">
                    {{firstLetter}}{{secondLetter}}
                  </div>
                </div>
                <div class="text-[#0f1728] text-base font-semibold font-['Archivo'] leading-normal tracking-tight">
                  {{username}}
                </div>
            </div>
              
              
              
            
        </div>


    </div>
</div>